.main-content
  #recipe_top.row
    .col-md-4
      = image_tag @recipe.image.url(:medium, class: "recipe-image")
    .col-md-8
      #recipe_info
        %h1= @recipe.title
        %p.descripion= @recipe.description
        %p.description= @recipe.user.email
  .row 
    .col-md-6
      #ingredients
        %h2 Ingredients
        %ul
          - @recipe.ingredients.each do|ingredient|
            %li= ingredient.name
    .col-md-6
      #directions
        %h2 Directions
        %ul
          - @recipe.directions.each do|direction|
            %li= direction.step

  .row 
    .col-md-12
      = link_to "Back",root_path, class: "btn btn-default"
      - if user_signed_in?
        = link_to "Edit", edit_recipe_path(@recipe), class: "btn btn-default"
        = link_to "Delete", recipe_path(@recipe), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default"

