<div class = "row">
	<div class = "col-md-6 col-md-offset-3">
		<h2>Log in</h2>

		<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<div class="form-inputs">
			<%= f.input :email, required: false, autofocus: true, input_html: {class: 'form-control'} %>
			<%= f.input :password, required: false, input_html: {class: 'form-control'} %>
			<%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
		</div>

		<div class="form-actions">
			<%= f.button :submit, "Log in", class: 'btn btn-primary' %>
		</div><br>
		<% end %>

		<%= render "devise/shared/links" %>
	</div>
</div>


